body {
  background-color: #fdf2e7;
  display: flex;
  align-items: center;
}

.dino {
  position: absolute;
  width: 110px;
  height: 160px;
  background-image: url(./images/Ada-Lovelace6.png);
  bottom: 0px;
  left: 10px;
}

.obstacle {
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url(./images/obs1.png);
  bottom: 0px;
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}

@-webkit-keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}

#desert {
  position: absolute;
  bottom: 200px;
  left: 50;
  background-image: url(./images/backgdrop.png);
  background-repeat: repeat-x;
  /* adjust background scroll speed here: */
  animation: slideright 7000s infinite linear;
  -webkit-animation: slideright 7000s infinite linear;
  width: 100%;
  height: 400px;
}

#modal {
  position: absolute;
  display: none;
  width: 500px;
  height: 500px;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
  background-color: #fdf2e7;
  border: 1px solid #222;
  font-family: "VT323", monospace;
}

.modal-quote {
  width: 450px;
  height: 20px;
  padding: 10px;
  font-size: 17px;
  font-style: italic;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  font-size: 17px;
  align-items: center;
}

.modal-author {
  width: 450px;
  height: 20px;
  display: flex;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.quote {
  height: 20px;
  width: 480px;
  text-align: left;
  display: flex;
  padding: 10px;
  margin-left: 10px;
}

.modal-body {
  width: 100%;
  height: 320px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-sizing: border-box;
  display: flex;
}

#alert {
  font-family: "VT323", monospace;
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 2px;
  border: 1px solid #222;
  background: white;
}

.image-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

.ada-image {
  width: 120px;
  height: 135px;
  padding: 5px;
}
.babbage-image {
  width: 110px;
  height: 110px;
  padding: 20px;
}

.text-container {
  height: 50%;
  width: 100%;
  font-size: 17px;
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.title {
  height: 10px;
  width: 450px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: lect;
}

.description {
  height: 200px;
  width: 450px;
  text-align: left;
  padding: 10px;
}

.old-school-line {
  height: 1px;
  background-color: #222;
  width: 100%;
  margin-bottom: 1px;
}

.lines-container {
  margin-bottom: 20px;
  padding: 10px;
}

.buttons-container {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}

.button {
  border-radius: 2px;
  padding: 8px 20px;
  border: 1px solid #222;
  margin-right: 15px;
  text-decoration: none;
  color: #222;
}

.primary-button {
  position: relative;
  box-shadow: 0 0 0 2px hsl(0, 0%, 30%), 0 0 0 4px hsl(0, 0%, 60%);
}

.secondary-button {
  position: relative;
  box-shadow: 0 0 0 2px hsl(0, 0%, 30%), 0 0 0 4px hsl(0, 0%, 60%);
}
