.roya {
  position: absolute;
  width: 110px;
  height: 150px;
  background-image: url(./images/roya-mahboob5.png);
  bottom: 0px;
  left: 10px;
}

#space {
  position: absolute;
  bottom: 200px;
  left: 50;
  background-image: url(./images/roya-background.png);
  background-repeat: repeat-x;
  animation: slideright 7000s infinite linear;
  -webkit-animation: slideright 7000s infinite linear;
  width: 100%;
  height: 400px;
}

.obstacle3 {
  position: absolute;
  width: 90px;
  height: 90px;
  background-image: url(./images/computer4.png);
  bottom: 0px;
}

#background3 {
  background-color: #ffe4e9;
  display: flex;
  align-items: center;
}

#modal3 {
  position: absolute;
  display: none;
  width: 500px;
  height: 500px;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.05);
  z-index: 1;
  background-color: #6c7ac2;
  border: 1px solid #222;
  font-family: "VT323", monospace;
}

.roya-image {
  width: 130px;
  height: 150px;
  padding: 20px;
}

.quote2 {
  height: 20px;
  width: 480px;
  text-align: left;
  display: flex;
  padding: 10px;
  margin-left: 20px;
}

.buttons-container2 {
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
